<!DOCTYPE html>
<html lang="en">

<head>
    <title>Carrefour</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet" />


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" />

    <!-- External CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">



</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="background-color: transparent;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/carrefour_icon.png') }}" alt="Example Image" width="80" height="50"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
                    <a class="nav-link" href="{{ url_for('upload') }}">Upload</a>
                    <a class="nav-link" href="{{ url_for('download') }}">Download</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="parallax-container" style="background-image: url('{{ url_for('static', filename='img/carrefour_parallax.jpg') }}');">
        <div class="parallax-content">
            <h1 class="parallax-heading">Carrefour</h1>
            <p class="parallax-paragraph">Le positif est de retour.</p>
        </div>
    </div>
    <!-- navbar -->
    {% block content %} {% endblock content %}

    <!-- Optional JavaScript -->
    <!-- Popper.js, then Bootstrap JS -->

    <script src="{{ url_for('static', filename='bootstrap/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/info-text.js')}}"></script>




</body>

</html>