{% extends 'base.html' %} {% block header %} {% endblock %} {% block content %}

<body>
    <div class="container">
        <!-- Information when a Upload was successfull -->
        <div class="row">
            {% if success_list %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                Following files got uploaded:
                <ul>
                    {% for file_name in success_list %}
                    <li>{{ file_name }}</li>
                    {% endfor %}
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-4">
                <h1 class="headline">Home</h1>
                <h2>OUR TEAM</h2>
            </div>
        </div>
    </div>


</body>
{% endblock %}