<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Flask File Upload</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        
        {% for field in form if 'file' in field.name %}
            {{ field.label }}
            {{ field }}
            <br>
        {% endfor %}

        {{ form.submit() }}
    </form>
    <table>{{ html_table | safe }}</table>
</body>
</html>
