{% extends 'base.html' %} {% block header %} {% endblock %} {% block content %}

<body>
    <div class="container">
        <!-- Information when a Upload was successfull -->
        <div class="row">
            {% if success_list %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                Following files got uploaded:
                <ul>
                    {% for file_name in success_list %}
                    <li>{{ file_name }}</li>
                    {% endfor %}
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-4">
                <h1 class="headline">Flask File Upload</h1>
            </div>
            <div class="col-md-1">
                <button id="upload_info" class="mt-2 btn btn-secondary">?</button>
            </div>
            <div class="col-md-3">
                <div class="help-text" id="upload_help_text">Here you can upload the different files (Excel or PDF).
                    <br>You do not need to insert a file everywhere.
                    <br>The included files will then be processesd and safed in the database.
                </div>
            </div>
        </div>
        <div class="row ">
            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <!-- File Upload Fields -->
                <label for="{{ form.file1.id }}">{{ file_list[0] }}</label> {{ form.file1(class="form-control") }}
                <br>

                <label for="{{ form.file2.id }}">{{ file_list[1] }}</label> {{ form.file2(class="form-control") }}
                <br>

                <label for="{{ form.file3.id }}">{{ file_list[2] }}</label> {{ form.file3(class="form-control") }}
                <br>

                <label for="{{ form.file4.id }}">{{ file_list[3] }}</label> {{ form.file4(class="form-control") }}
                <br>

                <label for="{{ form.file5.id }}">{{ file_list[4] }}</label> {{ form.file5(class="form-control") }}
                <br>

                <!-- Submit Button -->
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>
</body>
{% endblock %}